[bumpversion]
current_version = 1.0.6
commit = False
tag = False
allow-dirty = True

[bumpversion:file:Cargo.toml]

[bumpversion:file:packaging/npm/package.json]

[bumpversion:file:install.sh]
search = VERSION_PIN="{current_version}"
replace = VERSION_PIN="{new_version}"
